#Crear archivo .env y poner

#Reemplazar [YOUR-PASSWORD] por la contraseña de supabase.
DATABASE_URL=postgresql://postgres.qovvfqjeimvggrnwwexc:[YOUR-PASSWORD].@aws-1-eu-west-1.pooler.supabase.com:6543/postgres?sslmode=disable

#Añadir la Secret Key de Stripe
STRIPE_SECRET_KEY=[YOUR-STRIPE-SECRET-KEY]